/* Custom font for the game */
@font-face {
    font-family: 'font1';
    src: url('assets/myfont.woff') format('woff'),
        url('assets/myfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Body Styling */
body {
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: 'font1', sans-serif; /* Apply custom font */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
}

/* Canvas Styling - Phaser Game */
canvas {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Leaderboard Styling */
#leaderboard {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-family: 'font1', sans-serif;
    font-size: 16px;
    max-height: 80%;
    overflow-y: auto;
}

#leaderboard h2 {
    margin-top: 0;
}

#leaderboard-entries p {
    margin: 5px 0;
}

